
body {
    background-color: #e5e8da;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

ul li { padding: 5px 0px; 
line-height: 1.2;
}

p{
  line-height: 1.2;
}

h1, h2, h3, h4{
    color: #333726;
    line-height: 1;
}

h4{
    font-weight: normal;
}

img{
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
}

.header {
    background-color: #e9eae3;
    padding: 20px;
    margin: 20px 0px 0px 200px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color: lightgray;
    box-shadow: 0px 1px 1px 0px lightgray;
    }
    .header a {
        color: #333726;
        padding: 5px;
        text-decoration: none;
        display: inline;
    }
      
      .header a:hover {
        background-color: transparent;
        color: goldenrod;
        font-weight: bold;
      }

        .header i {
            font-size: 28px;
        } 
        @media screen and (max-width: 600px) {
            div.header{
              margin-left: 0px;
            }
        }






.content{
    background-color: #e9eae3;
    padding: 20px;
    margin: 20px 0px 0px 200px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color: lightgray;
    box-shadow: 0px 1px 1px 0px lightgray;
    }

    .content a {
        text-decoration: none;
        color: darkgoldenrod;
    }
    .content a :visited{
        text-decoration: none;
        color: darkgoldenrod;
    }
    .content a:hover {
        text-decoration: underline;
      }

      @media screen and (max-width: 600px) {
        div.content{
          margin-left: 0px;
        }
    }




.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6c7836;
    overflow-x: hidden;
    text-align: center;
  }

  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: transparent;
    color: goldenrod;
    font-weight: bold;
  }

  .sidenav p {
    color: #FFFFFF;
    padding: 16px;
    display: block;
  }

  .sidenav img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #59632e;
    padding: 0%;
  }

 
  
  @media screen and (max-width: 600px) {
    div.sidenav {
      display: none;
    }
    img{
      max-width: 130px;
      max-height: 130px;
      padding: 10px;
    }
}

@media screen and (max-width: 400px) {
  div.sidenav {
    display: none;
  }
  img{
    max-width: 120px;
    max-height: 120px;
    padding: 10px;
  }
}



  
