@font-face {
    font-family: Ember;
    src: url(./amazon-web-fonts/Ember/AmazonEmber_Lt.ttf);
}
@font-face {
    font-family: Ember;
    src: url(./amazon-web-fonts/Ember/AmazonEmber_Bd.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Ember;
    src: url(./amazon-web-fonts/Ember/AmazonEmber_LtIt.ttf);
    font-style: italic;
}



body {
    background-color: #e5e8da;
    font-family: Ember;
    color: black;
}


h1, h2, h3, h4{
    color: #333726;
    line-height: 1;
}

h4{
    font-weight: normal;
}

.header {
    background-color: #e9eae3;
    padding: 20px;
    margin: 20px 0px 0px 200px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color: lightgray;
    box-shadow: 0px 1px 1px 0px lightgray;
    }
    .header a {
        color: #333726;
        padding: 5px;
        text-decoration: none;
        display: inline;
    }
      
      /* Change color on hover */
      .header a:hover {
        background-color: transparent;
        color: goldenrod;
        font-weight: bold;
      }

        .header i {
            font-size: 28px;
        } 
        @media screen and (max-width: 600px) {
            div.header{
              margin-left: 0px;
            }
        }






.content{
    background-color: #e9eae3;
    padding: 20px;
    margin: 20px 0px 0px 200px;
    line-height: 1;
    border-style: solid;
    border-width: .5px 2px 2px 2px;
    border-color: lightgray;
    box-shadow: 0px 1px 1px 0px lightgray;
    }

    .content a {
        text-decoration: none;
        color: darkgoldenrod;
    }
    .content a :visited{
        text-decoration: none;
        color: darkgoldenrod;
    }
    .content a:hover {
        text-decoration: underline;
      }

      @media screen and (max-width: 600px) {
        div.content{
          margin-left: 0px;
        }
    }




.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6c7836;
    overflow-x: hidden;
    text-align: center;
  }


  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: transparent;
    color: goldenrod;
    font-weight: bold;
  }

  .sidenav p {
    color: #FFFFFF;
    padding: 16px;
    display: block;
  }
  
 
  @media screen and (max-width: 600px) {
    div.sidenav {
      display: none;
    }
}




  img{
      max-width: 150px;
      max-height: 150px;
      padding: 10px;
  }
  
